@namespace StockMarket.Components.Pages
@inject CardService CardService
@inject WatchListService WatchListService
@inject ChartService ChartService
@inherits ComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<div id="target">
    <div>
        <SfAppBar ColorMode="AppBarColor.Inherit">
            <span class="@StockImageClass">
                <img src=@CardService.StockCardDetails.StockSymbol alt="stock_icon">
            </span>

            @if (CardService.IsMobileMode)
            {
                <span class="stock-name" style="font-size: 16px; font-weight: 600; line-height: 20px; padding: 5px; display: block; max-height: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    @CardService.StockCardDetails.StockSubName
                </span>

                <span class="stock-sub-name" style="font-size: 10px; font-weight: 400; line-height: 17.5px; display: block; max-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: normal;">
                    @CardService.StockCardDetails.StockName
                </span>
            }
            else
            {
                <span class="stock-name" style="font-size: 16px; font-weight: 600; line-height: 20px; padding: 5px;">@CardService.StockCardDetails.StockSubName</span>
                <span class="stock-sub-name" style="font-size: 10px; font-weight: 400; line-height: 17.5px">@CardService.StockCardDetails.StockName</span>
            }
           
            <AppBarSpacer></AppBarSpacer>
            @{
                if (CardService.StockCardDetails.UpDownPrice > 0)
                {
                    UpDownStockPricePercntage = "+" + CardService.StockCardDetails.UpDownPrice.ToString() + "%";
                }
                else
                {
                    UpDownStockPricePercntage = CardService.StockCardDetails.UpDownPrice.ToString() + "%";
                }
            }
            <SfChip>
                <ChipItems>
                    <ChipItem Text="@UpDownStockPricePercntage" CssClass=@GetChipColorClass() TrailingIconCss="@GetTrailingIconClass()"></ChipItem>
                </ChipItems>
            </SfChip>
            @if (CardService.IsMobileMode)
            {
                <div class="stock-name span-padding">
                    $@CardService.StockCardDetails.StockCurrentPrice
                </div>
            }
            else
            {
                <span class="stock-name span-padding" style="font-size: 18px; font-weight: 600; line-height: 22.5px">$@CardService.StockCardDetails.StockCurrentPrice</span>
                <span class="symbol-name" style="font-size: 10px; font-weight: 400; line-height: 12.5px">@CardService.StockCardDetails.LastUpdate</span>
            }
           
        </SfAppBar>
    </div>
    <div class="@Stockheader">
        <SfAppBar ColorMode="AppBarColor.Inherit">
            <span class="@StockImageClass">
                <img src=@CardService.StockCard.StockSymbol alt="stock_icon">
            </span>
            @if (CardService.IsMobileMode)
            {
                <span class="stock-name span-padding" style="font-size: 16px; font-weight: 600; line-height: 20px; padding: 5px; display: block; max-height: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    @CardService.StockCard.StockSubName
                </span>

                <span class="stock-sub-name" style="font-size: 10px; font-weight: 400; line-height: 17.5px; display: block; max-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: normal;">
                    @CardService.StockCard.StockName
                </span>
            }
            else
            {
                <span class="stock-name span-padding">@CardService.StockCard.StockSubName</span>
                <span class="stock-sub-name">@CardService.StockCard.StockName</span>
            }
            <span class="remove-btn">
                <SfChip>
                    <ChipItems>
                        <ChipItem @onclick="RemoveStock" Text="X Remove" CssClass="chip-compare-text"></ChipItem>
                    </ChipItems>
                </SfChip>
            </span>
            <AppBarSpacer></AppBarSpacer>
            @{
                if (CardService.StockCard.UpDownPrice > 0)
                {
                    StockPricePercntage = "+" + CardService.StockCard.UpDownPrice.ToString() + "%";
                }
                else
                {
                    StockPricePercntage = CardService.StockCard.UpDownPrice.ToString() + "%";
                }
                SeriesChange = CardService.StockCardDetails.SeriesChange.ToString() + "%";
            }
            <SfChip>
                <ChipItems>
                    <ChipItem Text="@SeriesChange" CssClass="e-warning"></ChipItem>
                    <ChipItem Text="@StockPricePercntage" CssClass=@GetChipColorClass2() TrailingIconCss="@GetTrailingIconClass2()"></ChipItem>
                </ChipItems>
            </SfChip>
            @if (CardService.IsMobileMode)
            {
                <div class="stock-name span-padding">
                    $@CardService.StockCard.StockCurrentPrice
                </div>
            }
            else{
                <span class="stock-name span-padding">$@CardService.StockCard.StockCurrentPrice</span>
                <span class="symbol-name" style="font-size: 10px; font-weight: 400; line-height: 12.5px">@CardService.StockCard.LastUpdate</span>
            }
          
        </SfAppBar>
    </div>
    <div>
        @if (CardService.IsMobileMode)
        {
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <SfChip>
                    <ChipItems>
                        <ChipItem @onclick="OpenDialog" Text="@compareChipText" CssClass="chip-compare-text"></ChipItem>
                    </ChipItems>
                </SfChip>
                <div class="symbol-name">@CardService.StockCard.LastUpdate</div>
            </div>
        }
        else
        {
            <div>
                <SfChip>
                    <ChipItems>
                        <ChipItem @onclick="OpenDialog" Text="@compareChipText" CssClass="chip-compare-text"></ChipItem>
                    </ChipItems>
                </SfChip>
            </div>
        }
        <SfDialog Target="#target" Height="480px" Width="640px" ShowCloseIcon="true" @bind-Visible="Visibility" IsModal="true">
            <DialogTemplates>
                <Header> Compare Stocks </Header>
                <Content>
                    <div>
                        <input class="search" type="text" placeholder="Search" @oninput="UpdateFilteredItems">
                    </div>
                    <CascadingValue Value="this">
                        <SfListView DataSource="@CardDatas">
                            <ListViewFieldSettings TValue="CardData" Text="StockName"></ListViewFieldSettings>
                            <ListViewTemplates TValue="CardData">
                                <Template>
                                    <DialogStockComponent Context="@context"></DialogStockComponent>
                                </Template>
                            </ListViewTemplates>
                        </SfListView>
                    </CascadingValue>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="Compare" IsPrimary="true" OnClick="@CompareStock" />
            </DialogButtons>
            <DialogEvents Closed="@ClosedHandler"></DialogEvents>
        </SfDialog>
    </div>
    <div class="@ChartClass">
        @if (IsStockAdded)
        {
            <SfStockChart @ref="sfStockChart" Height="100%" ID="stockchart" Theme=Syncfusion.Blazor.Theme.Tailwind EnableSelector="true" EnablePeriodSelector="true" EnableCustomRange="true" TrendlineType="@TrendlineType" SeriesType="@SeriesType">
                <StockChartEvents SharedTooltipRendering="StockChartTooltipEvent"></StockChartEvents>
                <StockChartPeriods>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="1" Text='1M' Selected="true"></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="3" Text='3M'></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="6" Text='6M'></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="1" Text='All'></StockChartPeriod>
                </StockChartPeriods>
                <StockChartSeriesCollection>
                    <StockChartSeries BullFillColor="#3730A3" Fill="#6528F7" BearFillColor="#E11D48" EnableSolidCandles="true" DataSource="@ChartDatas" Type="ChartSeriesType.Candle" XName="X" High="High" Low="Low" Open="Open" Close="Close" Volume="Volume">
                        <StockChartSeriesAnimation Enable ="@EnableAnimation"></StockChartSeriesAnimation>
                        <StockChartSeriesBorder Color="#111827" Width="0.5"></StockChartSeriesBorder>
                    </StockChartSeries>
                    <StockChartSeries Name="@SeriesName" DataSource="@StockComparisonData" Fill="#FFB400" Type="ChartSeriesType.Spline" XName="X" High="High" Low="Low" Open="Open" Close="Close" Volume="Volume">
                        <StockChartSeriesAnimation Enable="@EnableAnimation"></StockChartSeriesAnimation>
                    </StockChartSeries>
                </StockChartSeriesCollection>
                <StockChartPrimaryYAxis OpposedPosition="false" LabelPosition="AxisPosition.Outside" LabelFormat="C2">
                    <StockChartAxisLineStyle Width="0" Color="transparent"></StockChartAxisLineStyle>
                    <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
                    <StockChartAxisMinorTickLines Width="0"></StockChartAxisMinorTickLines>
                </StockChartPrimaryYAxis>
                <StockChartPrimaryXAxis>
                    <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
                    <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
                </StockChartPrimaryXAxis>
                <StockChartChartArea>
                    <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
                </StockChartChartArea>
                <StockChartChartBorder Width="0"></StockChartChartBorder>
                <StockChartZoomSettings ToolbarItems=@toolbarItems EnableMouseWheelZooming="true" EnablePan="false"></StockChartZoomSettings>
                <StockChartTooltipSettings Header="" Enable="true" Shared="true" TooltipPosition="TooltipPosition.Nearest"></StockChartTooltipSettings>
                <StockChartCrosshairSettings Enable="true" LineType="LineType.Vertical"></StockChartCrosshairSettings>
            </SfStockChart>
        }
        else
        {
            <SfStockChart @ref="sfStockChart" Height="100%" ID="stockchart" Theme=Syncfusion.Blazor.Theme.Tailwind EnableSelector="true" EnablePeriodSelector="true" EnableCustomRange="true" TrendlineType="@TrendlineType" SeriesType="@SeriesType">
                <StockChartPeriods>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="1" Text='1M' Selected="true"></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="3" Text='3M'></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="6" Text='6M'></StockChartPeriod>
                    <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="1" Text='All'></StockChartPeriod>
                </StockChartPeriods>
                <StockChartSeriesCollection>
                    <StockChartSeries BullFillColor="#3730A3" Fill="#6528F7" BearFillColor="#E11D48" EnableSolidCandles="true" DataSource="@ChartDatas" Type="ChartSeriesType.Candle" XName="X" High="High" Low="Low" Open="Open" Close="Close" Volume="Volume">
                        <StockChartSeriesAnimation Enable="@EnableAnimation"></StockChartSeriesAnimation>
                        <StockChartSeriesBorder Color="#111827" Width="0.5"></StockChartSeriesBorder>
                    </StockChartSeries>
                </StockChartSeriesCollection>
                <StockChartPrimaryYAxis OpposedPosition="false" LabelPosition="AxisPosition.Outside" LabelFormat="C2">
                    <StockChartAxisLineStyle Width="0" Color="transparent"></StockChartAxisLineStyle>
                    <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
                    <StockChartAxisMinorTickLines Width="0"></StockChartAxisMinorTickLines>
                </StockChartPrimaryYAxis>
                <StockChartPrimaryXAxis>
                    <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
                    <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
                </StockChartPrimaryXAxis>
                <StockChartChartArea>
                    <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
                </StockChartChartArea>
                <StockChartChartBorder Width="0"></StockChartChartBorder>
                <StockChartZoomSettings ToolbarItems=@toolbarItems EnableMouseWheelZooming="true" EnablePan="false"></StockChartZoomSettings>
                <StockChartTooltipSettings Header="" Enable="true" TooltipPosition="TooltipPosition.Nearest"></StockChartTooltipSettings>
                <StockChartCrosshairSettings Enable="true" LineType="LineType.Vertical"></StockChartCrosshairSettings>
            </SfStockChart>
        }
    </div>
</div>

<style>
    div[id*="_selector_Secondary_Element"] {
        transform: translate(0px, -4px) !important;
        -moz-transform: translate(0px, -3px) !important;
    }
    .e-chip {
        height: 14px !important;
    }
    .e-chip .e-chip-text {
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
    }
    .search {
        border: 1px solid #000;
        text-indent: 2% !important;
    }
</style>

@code{
    List<Syncfusion.Blazor.Charts.ToolbarItems> toolbarItems = new List<Syncfusion.Blazor.Charts.ToolbarItems>() { };

    private string chipText = "0.00%";

    public string SeriesName { get; set; } = string.Empty;

    public bool EnableAnimation { get; set; } = true;

    private string UpDownStockPricePercntage { get; set; } = string.Empty;

    private string StockPricePercntage { get; set; } = string.Empty;

    private string SeriesChange { get; set; } = string.Empty;

    private SfStockChart sfStockChart;

    private bool IsStockAdded = false;

    private string Stockheader = "remove-stock";

    private string ChartClass = "chart-common";

    private string searchTerm = "";

    private bool Visibility { get; set; } = false;

    private string compareChipText = "+ Compare";

    private bool isStockSelected = false;

    private CardData tempCardData{ get; set; }

    public double MobileHeight { get; set; } = 0;

    public double MobileWidth { get; set; } = 0;

    public string StockImageClass { get; set; } = "e-avatar e-avatar-circle custom-avatar";

    private void OpenDialog()
    {
        this.Visibility = true;
    }

    public void UpdateFilteredItems(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        CardDatas = string.IsNullOrEmpty(searchTerm) ? CardData.Values.SelectMany(x => x).ToList() : CardDatas.Where(card => card.StockName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
    }

    public string GetChipColorClass()
    {
        return GetClass(CardService.StockCardDetails.UpDownPrice.ToString());
    }

    public string GetTrailingIconClass()
    {
        return GetClass2(CardService.StockCardDetails.UpDownPrice.ToString());
    }

    public string GetChipColorClass2()
    {
        return GetClass(CardService.StockCard.UpDownPrice.ToString());
    } 

    public string GetTrailingIconClass2()
    {
        return GetClass2(CardService.StockCard.UpDownPrice.ToString());
    }

    public string GetClass(string chipText)
    {
        decimal numericValue = decimal.Parse(chipText.Trim('%'));
        return (numericValue >= 0) ? "e-success" : "e-danger";
    }

    public string GetClass2(string chipText)
    {
        decimal numericValue = decimal.Parse(chipText.Trim('%'));
        return (numericValue >= 0) ? "e-icons e-arrow-up" : "e-icons e-arrow-down";
    }

    public void ChartRefresh()
    {
        ChartDatas = ChartService.GenerateSimulatedStockData();
        sfStockChart?.Refresh();
        StateHasChanged();
    }

    public void Selected(CardData selectedCardData)
    {
        if (!selectedCardData.StockName.Equals(CardService.PreviousCompareCardData.StockName))
        {
            tempCardData = selectedCardData;
            SeriesName = selectedCardData.StockName;
            isStockSelected = true;
            CardService.PreviousWatchlistCardData = selectedCardData;
        }
    }

    public void CompareStock()
    {
        if(isStockSelected)
        {
            UpdateStockCardData();
            Stockheader = "add-stock";
            ChartClass = "chart-after-compare";
            StockComparisonData = ChartService.GenerateSimulatedStockData();
            IsStockAdded = true;
            EnableAnimation = false;
            sfStockChart?.Refresh();
            Visibility = false;
            compareChipText = "+ Change";
            isStockSelected = false;
            StateHasChanged();
        }
    }

    public void StockChartTooltipEvent(SharedTooltipRenderEventArgs args)
    {
        if (args.Text.Count > 1 && !string.IsNullOrEmpty(args.Text[1]))
        {
            string[] tempArray = args.Text[1].Split(':');
            if (tempArray.Length == 2)
            {
                args.Text[1] = args.Data[1].SeriesName + " : " + args.Text[1].Split(':')[1];
            }
        }
    }

    private void UpdateStockCardData()
    {
        CardService.StockCard = tempCardData;
    }

    public void ClosedHandler(CloseEventArgs args)
    {
        isStockSelected = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            MobileHeight = await JSRuntime.InvokeAsync<int>("getScreenHeight");
            MobileWidth = await JSRuntime.InvokeAsync<int>("getScreenWidth");
            CardService.IsMobileMode = MobileWidth < 768;
            if (CardService.IsMobileMode)
            {
                StockImageClass = "stock-image"; 
            }
            StateHasChanged();
        }
    }

    private void RemoveStock()
    {
        CardService.PreviousWatchlistCardData = new CardData();
        Stockheader = "remove-stock";
        ChartClass = "chart-common";
        IsStockAdded = false;
        compareChipText = "+ Compare";
        sfStockChart?.Refresh();
        StateHasChanged();
    }
}
