@namespace StockMarket.Components.Pages
<div @onclick="(e => Selected(Context))">
    <img src="@(Context.StockSymbol)" class="e-avatar e-avatar-small e-avatar-circle" />
    <div class="stock-info">
        <div class="namelist">@Context.StockName</div>
        <div class="subname">@Context.StockSubName</div>
        <div class="currentprice">$@Context.StockCurrentPrice</div>
        @{
            var upDownPriceClass = Context.UpDownPrice >= 0 ? "positive" : "negative";
        }
        <div class="price @upDownPriceClass">
            @if (Context.UpDownPrice >= 0)
            {
                <span>+</span>
            }
            @Context.UpDownPrice<span>%</span>
        </div>
    </div>
</div>


@code{
    [CascadingParameter]
    public ChartComponent Parent { get; set; }

    [Parameter]
    public CardData Context { get; set; }

    private void Selected(CardData context)
    {
        Parent.Selected(context);
    }
}
