@namespace StockMarket.Pages

<div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => StockSelected(Context))">
    <img src="@(Context.StockSymbol)" class="e-avatar e-avatar-small e-avatar-circle" />
    <div class="stock-namelist">@Context.StockName</div>
    <div class="stock-subname">@Context.StockSubName</div>
    <div class="stock-current-price">$@Context.StockCurrentPrice</div>
    @{
        var upDownPriceClass = Context.UpDownPrice >= 0 ? "positive" : "negative";
    }
    <div class="up-down-price @upDownPriceClass">
        @if (Context.UpDownPrice >= 0)
        {
            <span>+</span>
        }
        @Context.UpDownPrice<span>%</span>
    </div>
</div>



@code{
    [CascadingParameter]
    public WatchlistComponent Parent { get; set; }

    [Parameter]
    public CardData Context { get; set; }

    void StockSelected(CardData context)
    {
        Parent.StockSelected(context);
    }
}
